.product {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 4px solid black;
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.product img {
  width: 300px;
  height: 300px;
  align-self: center;
}

.product .product__name {
  margin-bottom: 10px;
}

.product .product__name,
.other-info .other-info__price {
  font-family: 'Roboto';
  font-size: 20px;
}

.product .product__explan,
.other-info .other-info__star-cnt {
  font-size: 14px;
  color: grey;
  opacity: 0.6;
  font-weight: 500;
}

.product .product__other-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.other-info .other-info__star-cnt {
  padding-left: 10px;
}

.product .fa-star:not(:nth-child(5)) {
  color: #fec568;
}

.product .fa-star:nth-child(5) {
  color: #d7dde6;
}
